*{margin: 0;
    paddimg: 0;
    boder:0;
    
    }
    
    body { 
    background: white;
    font-family: 'Sorce sans pro',serif;
    }
    header{
    background-color: tomato;
    
    } 
    header {padding: 5px;
            border-bottom: 1px solid black;
    background:rgba black(0, 0, 0, 0.1);
    
    }
    #wrapper  {
        text-align: center;
        padding: 32px;
    }
    #wrapper img {
        border-radius: 400px 400px;
    }
    header div a {
        color:black;
        font-size:   18 px;
        line-height: 20 px;
        margin: 0 16 px;
        text-decoration:none;
    
    
    }

  